# Q1. What is a database? Differentiate between SQL and NoSQL databases

A1. A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval and manipulation of information. Databases are commonly used in many applications, including web applications, business systems, scientific research, and more.

SQL and NoSQL are two different types of databases with distinct characteristics. SQL databases, also known as relational databases, use a structured query language (SQL) to manage data. SQL databases are organized into tables with columns and rows, with each table representing a particular entity or relationship. SQL databases are great for storing and querying structured data, which makes them suitable for applications that require complex data relationships and transactions, such as financial systems and inventory management.

On the other hand, NoSQL databases are non-relational databases that use a variety of different data models to store data. NoSQL databases are designed to handle unstructured or semi-structured data, such as social media content, documents, and graphs. NoSQL databases are highly scalable and can handle large volumes of data and high transaction rates, making them well-suited for applications that require real-time data processing and analysis, such as IoT devices, gaming platforms, and analytics systems.

Overall, the choice between SQL and NoSQL databases depends on the specific requirements of the application. SQL databases are great for structured data that require complex relationships, while NoSQL databases are suitable for handling large volumes of unstructured data with high performance and scalability.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A2. DDL stands for Data Definition Language, which is a subset of SQL used to define the database schema, including tables, columns, indexes, and other objects. DDL statements are used to create, modify, and delete the database objects.

Here are some examples of DDL statements and their uses:

CREATE: The CREATE statement is used to create a new table, view, or other database object. For example, the following SQL statement creates a new table called "customers" with four columns: "id", "name", "email", and "phone":

In [ ]:
CREATE TABLE customers (
  id INT NOT NULL PRIMARY KEY,
  name VARCHAR(50) NOT NULL,
  email VARCHAR(50) NOT NULL,
  phone VARCHAR(20) NULL
);

DROP: The DROP statement is used to delete a table or other database object. For example, the following SQL statement drops the "customers" table:

In [ ]:
DROP TABLE customers;

ALTER: The ALTER statement is used to modify an existing database object, such as adding or removing columns from a table. For example, the following SQL statement adds a new column called "address" to the "customers" table:

In [ ]:
ALTER TABLE customers
ADD COLUMN address VARCHAR(100) NULL;

TRUNCATE: The TRUNCATE statement is used to remove all rows from a table while preserving its structure. For example, the following SQL statement removes all rows from the "customers" table:

In [ ]:
TRUNCATE TABLE customers;

In summary, DDL statements such as CREATE, DROP, ALTER, and TRUNCATE are essential for defining and modifying the structure of a database. These statements allow users to create new tables, modify existing ones, and delete or truncate tables as needed.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

 DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate the data stored in a database. DML statements include INSERT, UPDATE, DELETE, and SELECT.

Here are some examples of DML statements and their uses:

INSERT: The INSERT statement is used to insert new rows into a table. For example, the following SQL statement inserts a new record into the "customers" table:

In [ ]:
INSERT INTO customers (id, name, email, phone)
VALUES (1, 'John Doe', 'johndoe@example.com', '555-555-1212');

UPDATE: The UPDATE statement is used to modify existing rows in a table. For example, the following SQL statement updates the phone number of the customer with ID 1 in the "customers" table:

In [ ]:
UPDATE customers
SET phone = '555-555-1234'
WHERE id = 1;

DELETE: The DELETE statement is used to delete one or more rows from a table. For example, the following SQL statement deletes the record with ID 1 from the "customers" table:

In [ ]:
DELETE FROM customers
WHERE id = 1;

In summary, DML statements such as INSERT, UPDATE, and DELETE are essential for manipulating the data stored in a database. These statements allow users to insert new records, update existing ones, and delete rows as needed.

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. DQL statements include SELECT, which is used to retrieve data from one or more tables.

Here is an example of a SELECT statement and its use:

The SELECT statement is used to retrieve data from one or more tables in a database. The basic syntax of a SELECT statement is as follows:

In [ ]:
SELECT column1, column2, ...
FROM table_name
WHERE condition;

column1, column2, ... : The columns to retrieve data from.
table_name: The name of the table to retrieve data from.
WHERE condition: An optional clause that specifies the conditions that the retrieved data must meet.
For example, the following SELECT statement retrieves all data from the "customers" table:

In [ ]:
SELECT *
FROM customers;

This statement retrieves all columns and all rows from the "customers" table. If we wanted to retrieve only specific columns, such as "name" and "email", we could modify the statement as follows:

In [ ]:
SELECT name, email
FROM customers;

This statement retrieves only the "name" and "email" columns from the "customers" table. We can also use the WHERE clause to filter the data based on specific conditions. For example, the following SELECT statement retrieves all customers whose name is "Aniket":

In [ ]:
SELECT *
FROM customers
WHERE name = 'Aniket';

In summary, the SELECT statement is a powerful tool for retrieving data from a database. It allows users to retrieve all or specific columns and rows from one or more tables and filter the results based on specific conditions.

# Q5. Explain Primary Key and Foreign Key.

Primary Key and Foreign Key are two important concepts in relational databases that define the relationships between tables.

Primary Key: A primary key is a column or a set of columns in a table that uniquely identifies each row in the table. It is used to enforce data integrity and ensure that each row in the table is unique.
For example, in a table of customers, the "id" column may be designated as the primary key. This means that each customer in the table will have a unique "id" value that can be used to identify them. The primary key column must have a unique value for each row, and it cannot be null.

Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It is used to define relationships between tables and enforce referential integrity.
For example, in a table of orders, there may be a column called "customer_id" that refers to the "id" column in the customers table. This means that each order in the orders table is associated with a specific customer in the customers table. The foreign key column must have a value that matches a value in the primary key column of the referenced table, or it can be null if the relationship is optional.

In summary, primary keys and foreign keys are essential components of relational databases. Primary keys ensure that each row in a table is unique, while foreign keys define relationships between tables and ensure referential integrity.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, we need to use a Python library called mysql-connector-python. Here is a simple Python code to connect to a MySQL database and execute a SELECT statement using cursor() and execute() method:

In [ ]:
import mysql.connector

# Establish a connection to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

# Create a cursor object to interact with the database
mycursor = mydb.cursor()

# Execute a SELECT statement
mycursor.execute("SELECT * FROM customers")

# Fetch all rows of the result set
rows = mycursor.fetchall()

# Print the rows
for row in rows:
  print(row)

Here, we first imported the mysql.connector library to connect to a MySQL database. We then established a connection to the database by passing the required connection parameters such as the host, user, password, and database name.

Next, we created a cursor object mycursor using the cursor() method. The cursor object is used to execute SQL statements and retrieve data from the database.

We then executed a SELECT statement using the execute() method of the cursor object. The SELECT statement retrieves all rows from the customers table.

After executing the SELECT statement, we fetched all rows of the result set using the fetchall() method of the cursor object. The fetchall() method returns a list of tuples, where each tuple represents a row of the result set.

Finally, we printed the rows using a for loop.

In summary, the cursor() method is used to create a cursor object that can execute SQL statements and retrieve data from the database. The execute() method is used to execute an SQL statement using the cursor object.

# Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM clause: The FROM clause is executed first. It specifies the tables from which data is to be retrieved.

JOIN clause: If there are any JOIN clauses in the query, they are executed next. JOIN clauses are used to combine data from multiple tables.

WHERE clause: The WHERE clause is executed next. It is used to filter the rows based on certain conditions.

GROUP BY clause: If there is a GROUP BY clause in the query, it is executed next. The GROUP BY clause is used to group the rows based on one or more columns.

HAVING clause: If there is a HAVING clause in the query, it is executed next. The HAVING clause is used to filter the groups based on certain conditions.

SELECT clause: The SELECT clause is executed next. It specifies the columns to be retrieved from the tables.

DISTINCT clause: If there is a DISTINCT clause in the query, it is executed next. The DISTINCT clause is used to retrieve only unique values of a column.

ORDER BY clause: If there is an ORDER BY clause in the query, it is executed next. The ORDER BY clause is used to sort the rows based on one or more columns.

LIMIT clause: If there is a LIMIT clause in the query, it is executed last. The LIMIT clause is used to limit the number of rows returned by the query.

In summary, the order of execution of SQL clauses in an SQL query is important to understand how the query is executed and how the results are retrieved from the database.