<a href="https://colab.research.google.com/github/VickyKandale/Assignment_pyhton.pwskills/blob/main/22nd_Feb_Pandas_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

##Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
Series =pd.Series([4,8,15,16,23,42])

In [5]:
Series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

##Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [6]:
list1=['Amol','Pravin','Sagar','Raju','Sanju','Zad','Sappi','Lony','Hohu','Komi']

In [10]:
Dseries=pd.Series(list1)

In [11]:
Dseries

0      Amol
1    Pravin
2     Sagar
3      Raju
4     Sanju
5       Zad
6     Sappi
7      Lony
8      Hohu
9      Komi
dtype: object

## Q3. Create a Pandas DataFrame that contains the following data:

![Pandas.PNG]()

In [18]:
data={
    "Name":['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']

}

Dataframe=pd.DataFrame(data)

In [16]:
Dataframe

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

##Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

 	

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

> Pandas Series



1.  One-dimensional
2.  Homogenous – Series elements must be of the same data type
3.  Size-immutable – Once created, the size of a Series object cannot be changed.




> Pandas DataFrame



1. 	Two-dimensional
2.  Heterogenous – DataFrame elements can have different data types.
3.  Size-mutable – Elements can be dropped or added in an existing DataFrame.

In [34]:
# Pandas series look like a one dimensional 
list1=['Amol','Pravin','Sagar','Raju','Sanju','Zad','Sappi','Lony','Hohu','Komi']
Dseries=pd.Series(list1)
Dseries

0      Amol
1    Pravin
2     Sagar
3      Raju
4     Sanju
5       Zad
6     Sappi
7      Lony
8      Hohu
9      Komi
dtype: object

In [37]:
Dataframe1=pd.DataFrame(list1)
Dataframe1

        0
0    Amol
1  Pravin
2   Sagar
3    Raju
4   Sanju
5     Zad
6   Sappi
7    Lony
8    Hohu
9    Komi

##Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

##Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans-- 
> All Pandas data structures are value mutable (can be changed) and except 'Series' all are size mutable.


> DataFrame & Panel are mutable in nature.

##Q7. Create a DataFrame using multiple Series. Explain with an example.

In [31]:
Name=['Alice','Bob','Claire']
Age=[25,30,27]
Gender=['Female','Male','Female']
Name=pd.Series(Name)
Age=pd.Series(Age)
Gender=pd.Series(Gender)

In [32]:
Dataframe= pd.DataFrame([Name,Age,Gender])

In [33]:
Dataframe

        0     1       2
0   Alice   Bob  Claire
1      25    30      27
2  Female  Male  Female