<a href="https://colab.research.google.com/github/VickyKandale/Assignment_pyhton.pwskills/blob/main/25th_Feb_Assignment_Pandas_Advance_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Consider following code to answer further questions:

In [ ]:
import pandas as pd
import numpy as np

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [ ]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

#Q1. Write a code to print the data present in the second row of the dataframe, df.

In [ ]:
df[1:2]       # printing second row data as per index 1

        course_name  duration
1  Machine Learning         3

## Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?




Ans --- When it comes to selecting rows and columns of a pandas DataFrame, loc and iloc are two commonly used functions.
*  Here is the subtle difference between the two functions:
  iloc selects rows 

1.  loc selects rows and columns with specific labels.
2.  iloc selects rows and columns at specific integer positions.

## Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

* Did you observe any difference in both the outputs? If so then explain it.

In [ ]:
reindex = [3,0,1,2]
new_df=pd.DataFrame(df,index=reindex)

In [ ]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [ ]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [ ]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Did you observe any difference in both the outputs? If so then explain it.

Ans-- yes,as per the above theory of loc & iloc function 

        * loc selects rows and columns with specific labels like shown 2 labeled data.
        * iloc selects rows and columns at specific integer positions as the index no 2.

#Consider the below code to answer further questions:

In [ ]:
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [ ]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.276675  0.060350  0.035518  0.431905  0.875289  0.285155
2  0.760383  0.309093  0.475565  0.489281  0.870740  0.659299
3  0.247800  0.730174  0.272946  0.672834  0.230211  0.467908
4  0.564532  0.734549  0.409885  0.964912  0.791289  0.668168
5  0.131315  0.348595  0.434037  0.753180  0.510566  0.305868
6  0.892134  0.704340  0.111572  0.847930  0.356142  0.430734

## Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) 	mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [ ]:
df1.mean()

column_1    0.478807
column_2    0.481184
column_3    0.289921
column_4    0.693340
column_5    0.605706
column_6    0.469522
dtype: float64

In [ ]:
df1['column_2'].std()

0.2829433484881849

## Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [ ]:
df1.loc[2:2,'column_2']='Replace'

In [ ]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.276675   0.06035  0.035518  0.431905  0.875289  0.285155
2  0.760383   Replace  0.475565  0.489281  0.870740  0.659299
3  0.247800  0.730174  0.272946  0.672834  0.230211  0.467908
4  0.564532  0.734549  0.409885  0.964912  0.791289  0.668168
5  0.131315  0.348595  0.434037  0.753180  0.510566  0.305868
6  0.892134   0.70434  0.111572  0.847930  0.356142  0.430734

In [ ]:
df1['column_2'].mean()

TypeError: ignored

### - The mean calculation is the process of statistical operation on a numerical/int/float type data not on a string data so thats why the error is  occured in it bcz str and  float type of data cannot make any statistical operation.

## Q6. What do you understand about the windows function in pandas and list the types of windows functions?

Ans--
 > The window functions in Pandas are used to perform some sort of calculations across a set of rows that are interrelated with the current row. The windows functions help us to perform the aggregated calculations across various partitions or cross-sections of the data. 

 >Pandas Window functions are functions where the input values are taken from a “window” of one or more rows in a series or a table and calculation is performed over them. The word window means the number of rows between the two boundaries by which we perform calculations including the boundary rows.

 * According to the Pandas official documentation, Pandas provide window functions for the following 4 types of windowing operations.

  1. Rolling window operations
2. Weighted window operations
3. Expanding window operations
4. Exponentially Weighted window

##Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function

In [ ]:
from datetime import date

todays_date = date.today()
print("Current year:", todays_date.year)
print("Current month:", todays_date.month)

Current year: 2023
Current month: 3

## Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [20]:
import pandas as pd

# Prompt the user to enter the two dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the dates to Pandas Timestamp objects
date1 = pd.Timestamp(date1)
date2 = pd.Timestamp(date2)

# Calculate the difference between the two dates
diff = date2 - date1

# Extract the number of days, hours, and minutes from the time delta
days = diff.days
hours = diff.seconds // 3600
minutes = (diff.seconds % 3600) // 60

# Display the result
print(f"The difference between {date1} and {date2} is {days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD): 1996-12-26
Enter the second date (YYYY-MM-DD): 2023-10-26
The difference between 1996-12-26 00:00:00 and 2023-10-26 00:00:00 is 9800 days, 0 hours, and 0 minutes.

## Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data

In [ ]:
import pandas as pd

# Prompt the user for the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Prompt the user for the column name
column_name = input("Enter the column name: ")

# Prompt the user for the category order
category_order = input("Enter the category order (comma-separated): ")
category_order = category_order.split(",")

# Convert the column to a categorical data type with the specified order
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Sort the data by the specified column
df = df.sort_values(column_name)

# Display the sorted data
print(df)