In [1]:
import numpy as np

In [3]:
#Consider the below code to answer further questions:

list_ = [ '1','2','3','4','5', '6']

array_list = np.array(object = list_)

Q1. Is there any difference in the data type of variables list_ and array_list? If there is then write a code
to print the data types of both the variables.

Ans-  yes, there is the difference between data types of both the variables. as we showing below

In [6]:
type(list_)

list

In [7]:
type(array_list)

numpy.ndarray

Q2. Write a code to print the data type of each and every element of both the variables list_ and
arra_list.

In [9]:
print(f"The data type of list_ variable is {type(list_)}")

The data type of list_ variable is <class 'list'>

In [11]:
print(f"The data type of list_ variable is {type(array_list)}")

The data type of list_ variable is <class 'numpy.ndarray'>

Q3. Considering the following changes in the variable, array_list:

array_list = np.array(object = list_, dtype = int)

Will there be any difference in the data type of the elements present in both the variables, list_ and
arra_list? If so then print the data types of each and every element present in both the variables, list_
and arra_list.


Ans-- No any changes happend in the variables

In [12]:
array_list = np.array(object = list_, dtype = int)

In [13]:
type(array_list)

numpy.ndarray

In [16]:
type(list_)

list

Consider the below code to answer further questions:

import numpy as np

num_list = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]

num_array = np.array(object = num_list)



#Q4. Write a code to find the following characteristics of variable, num_array:

(i)	 shape

(ii) size

In [18]:
num_list = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]

num_array = np.array(object = num_list)

In [20]:
num_array.shape

(2, 3)

In [21]:
num_array.size

6

Q5. Write a code to create numpy array of 3*3 matrix containing zeros only, using a numpy array
creation function.

[Hint: The size of the array will be 9 and the shape will be (3,3).]

In [25]:
matrix= np.array(np.zeros([3,3]))

In [26]:
matrix

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [27]:
matrix.size

9

In [28]:
matrix.shape

(3, 3)

Q6. Create an identity matrix of shape (5,5) using numpy functions?

[Hint: An identity matrix is a matrix containing 1 diagonally and other elements will be 0.]

In [36]:
identity_matrix= np.array(np.identity(5,dtype=None))

In [37]:
identity_matrix

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [38]:
identity_matrix.shape

(5, 5)