# Assignment - 2

--------------------------------------------------------------------------------
 Q.1) Answer

In [ ]:
Input= int(input("Enter the percentage : "))

if Input > 90:
  print(" 'A' Grade ")
elif Input > 80 and Input <= 90:
  print(" 'B' Grade ")
elif Input >=60 and Input <=80:
  print(" 'C' Grade ")
elif Input < 60:
  print(" 'D' Grade ")

Enter the percentage : 55
 'D' Grade

--------------------------------------------------------------------------------
Q.2) Answer

In [ ]:
a= int(input(" Cost price of a Bike : "))

if a> 100000:
  print(" The road tax to be paid : 15 % ")
elif a> 50000 and a <= 100000:
  print(" The road tax to be paid : 10 % ")
elif a <= 50000:
  print(" The road tax to be paid : 5 % ")

 Cost price of a Bike : 75000
 The road tax to be paid : 10 %

--------------------------------------------------------------------------------
Q.3) Answer

In [ ]:
data= { "Delhi": "Red Fort", "Agra":"Taj Mahal", "Jaipur":"Jai Mahal"}


City= input("Enter the city name: ")
print(f"Name of Monunment of the city : {data[City]}")

Enter the city name: Agra
Name of Monunment of the city : Taj Mahal

--------------------------------------------------------------------------------
Q.4) Answer

In [ ]:
num = int(input("Enter a number: "))
count = 0

while num >= 10:
    num = num // 3
    count += 1

print(f"The number can be divided by 3 is  {count} times before it is less than or equal to 10.")

Enter a number: 1562
The number can be divided by 3 is  5 times before it is less than or equal to 10.

--------------------------------------------------------------------------------
Q.5) Why and when to use while loop in python give a detailed description with example?

  >In Python, a while loop is used to execute a block of code repeatedly as 
long as a certain condition is true. The loop continues to execute until the condition becomes false.

  >One common use case for a while loop is to iterate over a collection of items until a certain condition is met. For example, let's say we have a list of numbers and we want to print each number in the list until we reach a number greater than 10:

    numbers = [2, 5, 8, 11, 3, 7]

    i = 0

    while i < len(numbers) and numbers[i] <= 10:
     print(numbers[i])
     i += 1

  >In this example, we start with an index i of 0 and check if the current number at that index is less than or equal to 10. If it is, we print the number and increment i by 1 to move on to the next number in the list. We keep looping until we reach a number greater than 10 or we reach the end of the list.

------------------------------------------------------------------------------------
Q.6) Answer

In [ ]:
# Pattern 1 

i = 1
while i <= 5:
    j = 1
    while j <= i:
        print(j, end='')
        j += 1
    print()
    i += 1

1
12
123
1234
12345

In [ ]:
# Pattern 2 

i = 5
while i >= 1:
    j = 1
    while j <= i:
        print('*', end='')
        j += 1
    print()
    i -= 1

*****
****
***
**
*

In [ ]:
# Pattern 3 

i = 1
while i <= 5:
    j = 1
    while j <= i:
        print(i, end='')
        j += 1
    print()
    i += 1

1
22
333
4444
55555

-------------------------------------------------

Q.7) Answer

In [ ]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

-----------------------------

Q.8) Answer

In [ ]:
i = 10
while i > 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1